html, body
  background: #eee

html > body
  a,
  .uk-link
    color: #0b7076
    &:hover,
    &:active,
    &:focus
      color: #0a6065

  .uk-button-primary
    background: #0b7076
    &:hover,
    &:active,
    &:focus
      background: #0a6065

  #logo
    margin-bottom: 0
    a
      color: #0b7076 !important
      &:hover
        text-decoration: none

  #subtitle
    margin-top: 0

  #nav
    a
      border: solid 1px #999
      border-radius: 50%
      width: 25px
      height: 25px
      line-height: 25px
      text-align: center
      display: inline-block
      color: #999
      &:hover,
      &:focus,
      &:active
        color: #0b7076
        border-color: #0b7076

  .uk-sortable-empty
    min-height: 0
  .watch
    position: relative
    padding-left: 25px !important
    padding-bottom: 5px !important
    .poloniex-link
      color: #444
    .watch-display
      position: absolute
      top: 20px
      right: 110px
    .watch-alert
      position: absolute
      top: 20px
      right: 80px
    .watch-move
      position: absolute
      top: 20px
      right: 50px
      cursor: move
    .watch-close
      position: absolute
      top: 20px
      right: 20px
    .indicator
      position: absolute
      left: 0
      top: 0
      bottom: 0
      width: 15px
      background: #f2f2f2
      .up, .down
        position: absolute
        left: 0
        right: 0
        height: 0
      .up
        bottom: 50%
        background: #0c0
      .down
        top: 50%
        background: #c00

    .uk-dropdown
      padding: 0
      .price-notification
        font-size: 17px
    .uk-dropdown-nav
      li
        padding-left: 10px
        &.uk-active,
        &:hover
          background: #0b7076
          a
            color: #fff !important
    .watch-trades-per-minute
      color: #aaa
      text-align: center
      font-size: 11px
      margin-top: 10px
      > span
        font-weight: bold

@media (max-width: 480px)
  #logo
    font-size: 2em
  #subtitle
    font-size: 1em
  #addpair-form
    #addpair
      width: 150px
    button
      padding: 0 20px
  .watch
    padding: 15px 15px 15px 25px !important
    .uk-card-title
      font-size: 1em
    .watch-ticker-container
      display: block
      font-size: 0.8em
    .ratio-header
      font-size: 0.8em
    .watch-buysell
      font-size: 1em